html,
body {
  height: 100%;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $text-dark;
  font-size: 16px;
  line-height: 1.3;
  background-color: $bg;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.border {
  height: 8px;
  background-color: $text-dark;
}

.section {
  padding-bottom: 70px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.title-h3 {
  font-size: 24px;
  color: $text-white;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  padding: 13px 34px;
  background-color: $btn;
  border-radius: 10px;
  border: 2px solid $text-dark;
  color: $text-white;
  font-weight: 700;
  line-height: 30px;
}

.card {
  max-width: 1400px;
  width: 100%;
  background-color: $card-purple;
  border-radius: 40px;
  border: 5px solid $text-dark;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;

  &__bottom {
    margin-bottom: 25px;
  }

  &--pink {
    background-color: $card-pink;
  }

  &__img {
    margin-right: 40px;
  }

  &__title {
    color: $text-dark;
    margin-bottom: 20px;
    text-align: left;
  }

  &__content-top {
    margin-bottom: 80px;
  }

  &__content-text {
    font-weight: 400;
    max-width: 1026px;
    width: 100%;
    line-height: 30px;
  }

  &__content-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 120px;
  }

  &__content-start,
  &__content-duration {
    font-weight: 600;
    line-height: 30px;
  }

  &__content-data {
    color: $data-color;
  }
}

.card:not(:last-child) {
  margin-bottom: 30px;
}