$accent: #EC177D;
$text-dark: #000000;
$text-white: #FFFFFF;
$bg: #FCF7EB;
$border-color-btn: #442CD9;
$bg-block: #8936F3;
$btn: #3A37D7;
$card-purple: #ECE0FF;
$data-color: #F64A00;
$card-pink: #FFE3E3;
$bg-form: #282323;
$form-color: #FAFFFC;
$border-yellow: #FFE500;