$accent: #EC177D;
$text-dark: #000000;
$text-white: #FFFFFF;
$bg: #FCF7EB;
$border-color-btn: #442CD9;
$bg-block: #8936F3;
$btn: #3A37D7;
$card-purple: #ECE0FF;
$data-color: #F64A00;
$card-pink: #FFE3E3;
$bg-form: #282323;
$form-color: #FAFFFC;
$border-yellow: #FFE500;
$link-hover: #1814D9;

$pc: 1200;
$tb-2: 992;
$tb: 768;
$ph: 576;
$phm: 444;

@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}