.expert {


  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__card {
    background-color: $text-dark;
    max-width: 325px;
    width: 100%;
    border-radius: 30px;
    margin-right: 45px;
  }

  &__img {
    border-radius: 20px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color: $text-white;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  &__info {
    font-weight: 700;
    line-height: 30px;
    color: $text-white;
    padding-left: 10px;
    padding-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__description {
    background-color: #8936F3;
    max-width: 493px;
    width: 100%;
    border-radius: 20px;
    padding: 10px 25px;
    margin-bottom: 30px;
  }

  &__text {
    color: $text-white;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }

  &__text:not(:last-child) {
    margin-bottom: 20px;
  }


}