.question {
  background-color: $bg-form;
  padding: 45px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r($tb) {
      flex-direction: column;
    }
  }

  &__content {
    margin-right: 30px;

    @include r($tb) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__content-title {
    font-size: 36px;
    font-weight: 400;
    color: $text-white;
    margin-bottom: 32px;

    @include r($tb-2) {
      font-size: 32px;

      margin-bottom: 25px;
    }

    @include r($tb) {
      font-size: 24px;
      margin-bottom: 15px;
      text-align: center;
    }
  }

  &__content-text {
    font-size: 24px;
    font-weight: 400;
    color: $text-white;
    max-width: 541px;
    width: 100%;

    @include r($tb) {
      font-size: 18px;
      text-align: center;
    }
  }

}